@model AppBlog.ModelViews.SocialVM
@if (Model != null)
{

    <ul class="social-icons list-unstyled list-inline mb-0">
        @if (!string.IsNullOrWhiteSpace(Model.Facebook))
        {
            <li class="list-inline-item"><a href="@Model.Facebook"><i class="fab fa-facebook-f"></i></a></li>
        }

        @if (!string.IsNullOrWhiteSpace(Model.Twitter))
        {
            <li class="list-inline-item"><a href="@Model.Twitter
                "><i class="fab fa-twitter"></i></a></li>
        }

        @if (!string.IsNullOrWhiteSpace(Model.Instagram))
        {
            <li class="list-inline-item"><a href="@Model.Instagram"><i class="fab fa-instagram"></i></a></li>
        }

        @if (!string.IsNullOrWhiteSpace(Model.Printerest))
        {
            <li class="list-inline-item"><a href="@Model.Printerest"><i class="fab fa-pinterest"></i></a></li>
        }

        @if (!string.IsNullOrWhiteSpace(Model.Youtube))
        {
            <li class="list-inline-item"><a href="@Model.Youtube
                "><i class="fab fa-youtube"></i></a></li>
        }
    </ul>
}